<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /templates/</title>
</head>
<body>
<h1>Directory listing for /templates/</h1>
<hr>
<ul>
<li><a href="_helpers.tpl">_helpers.tpl</a></li>
<li><a href="deployment.yaml">deployment.yaml</a></li>
<li><a href="ingress.yaml">ingress.yaml</a></li>
<li><a href="NOTES.txt">NOTES.txt</a></li>
<li><a href="service.yaml">service.yaml</a></li>
</ul>
<hr>
</body>
</html>
